# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
.vscode

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
*.log

mcube-demo
.mcube.yaml

coverage.txt
build
*.crt
*.key
